{% extends "layout.html" %}
{% block content%}
	<h1>Update the database</h1>

	<h3 class="pt-4"><u>Add</u></h3>

	<ul>
		<li><a href="/add_gpu">Add a graphics Card</a></li>

		<li><a href="/add_brand">Add a brand</a></li>

		<li><a href="/add_chipset">Add a Chipset</a></li>

		<li><a href="/add_benchmarks">Add Benchmarks</a></li>

 		<li><a href="/add_gpu_benchmarks">Add a GPU/Benchmarks relationship</a></li>

		<li><a href="/add_gpu_brand">Add a GPU/Brand relationships</a></li>
	</ul>

	<h3 class="pt-4"><u>Update</u></h3>
	<ul>
		   <li><a href="/update_benchmarks">Update Benchmarks Score</a></li>
	</ul>
	<h3 class="pt-4"><u>Delete</u></h3>
	<ul>
		 <li><a href="/remove_gpu">Remove GPU</a></li>
	</ul>

{% endblock content %}
