{% extends "layout.html" %}
{% block content%}
	
	<div class="content-section">
	<h1>Compare GPUs</h1>

	<form action="{{ url_for('comparisons') }}" method=post>

		<div>
			<p>
				{{form.gpu.label}} <br>
				{{form.gpu(placeholder='Enter gpu name') }}
			</p>

			{{form.chipset.label}}
			{% for choice in form.chipset %}
                    <div class="form-check">
                        {{ choice(class="form-check-input") }}
                        {{ choice.label(class="form-check-label") }}
                    </div>
            {% endfor %}

            {{form.brand.label}}
            {% for choice in form.brand %}
                <div class="form-check">
                    {{ choice(class="form-check-input") }}
                    {{ choice.label(class="form-check-label") }}
                </div>
            {% endfor %}
<!-- 
			<p>
				{{form.chipset.label}} <br>
				{{form.chipset}} 		
			</p>
 -->
<!-- 			<p>
				{{form.brand.label}} <br>
				{{form.brand}}
			</p> -->

			<p>
				{{form.maxPrice.label}} <br>
				{{form.maxPrice(placeholder='Enter a max price')}}
			</p>

			<p>
                {{ form.submit }}
            </p>


		</div>
	</form>

	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th scope="col">Chipset</th>
	      <th scope="col">Brand</th>
	      <th scope="col">Graphics</th>
	      <th scope="col">Average Price</th>
	      <th scope="col">Unigine Score</th>
	      <th scope="col">Passmark Score</th>
	      <th scope="col">Shadow of the Tomb Raider FPS</th>
	      <th scope="col">GTA 5 FPS</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for item in gpu %}
	    <tr>
	    	<td>{{item['chipsetManufacturer']}}</td>
	    	<td>{{item['brandName']}}</td>
	    	<td>{{item['graphicsCoprocessor']}}</td>
			<td>{{item['averagePrice']}}</td>
			<td>{{item['unigineBenchmarkScore']}}</td>
			<td>{{item['passmarkBenchmarkScore']}}</td>
			<td>{{item['shadowOfTheTombRaiderFPS']}}</td>
			<td>{{item['grandTheftAuto5FPS']}}</td>
	    </tr>
	  {% endfor %}
	  </tbody>
	</table>


{% endblock content %}
